<div class="conteudo">

    <h1>Você chegou ao seu destino!</h1>

    <div class="descricao">
        <div class="tesouro"></div>
        <div class="texto">
            <p>"Na era digital o verdadeiro tesouro são os sistemas. O que move o mundo nem sempre é ouro às vezes é
                apenas energia. Energia na forma de 0 e 1 que navega pelos mares de vidro da fibra óptica"</p>

            <p>Já que você esteve comigo até aqui, que tal explorar mais um pouco e descobrir outros tesouros de
                código?
                Eu costumo fabricá-los, posso te mostrar mais se quiser, click no link abaixo e navegue em outras
                aventuras!
            </p>

            <a href="https://github.com/InacioSouza" target="_blank">
                <div class="icone"></div> Meu Portfólio
            </a>

            <div class="logout">
                <button (click)="logout()">Abandonar tesouro</button>
            </div>
        </div>
    </div>
</div>