<div class="conteudo">
    <div class="descricao">
        <h1>Login</h1>
        <p>"Você já passou por caminhos mais tortuosos,<br> o mapa diz que essa é a última barreira para encontrar o
            tesouro"</p>
    </div>

    <div class="login">
        <form [formGroup]="formLogin">
            <div class="entrada">
                <label for="email">E-mail</label>
                <input formControlName="email" id="email" name="email" type="email"
                    [class.entrada-invalida]="isInvalid('email')" placeholder="indiana.jones@gold.com">
                <span *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched">O email é
                    obrigatório!</span>
                <span *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched">Formato de
                    email inválido!</span>
            </div>

            <div class="entrada">
                <label for="senha">Senha</label>
                <input formControlName="senha" id="senha" name="senha" type="password"
                    [class.entrada-invalida]="isInvalid('senha')">
                <span *ngIf="formLogin.get('senha')?.errors?.['required'] && formLogin.get('senha')?.touched">A senha é
                    obrigatória!</span>
            </div>
        </form>

        <div class="btn">
            <button (click)="login()">Acessar</button>
        </div>
    </div>
</div>